*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: #fff;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    width: 100%;
    padding: 30px;
    display: flex;
}

.container button{
    outline: none;
    border: 0;
    background: transparent;
}

h1{
    text-align: left;
    margin-left: 30%;
    margin-top: 1em;
 }

.from-control{
    width: 600px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 30%;

}

 .from-control input{
    width: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-align: left;
}

.from-control a{
    position: absolute;
    top:1rem;
    right: 1rem;
    cursor: pointer;
}    


.from-control button{
    position: absolute;
    margin-right: 50%;
    top:1.2rem;
    right: 1rem;
    cursor: pointer;
}    

.countries{
    padding: 0px 0px 0px 10px;
    display: grid;
    grid-template-columns: no-repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-left: 30%;
}

.country{
    min-height: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
}

/* .country-img{
    padding: 20px;
    height: 150px;
    width: 200px;
}

.country-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.country-info{  
    display: flex;
    align-items: center;
    height: 100%; 
    width: 100%;
    padding: 2px;
}

.country-img{
    width: 50%;
    padding: 5px;
}

.country-img img{
    width: 250px;
    height: 120px;
    object-fit: cover;
} 

.cmodal{
    width: 50%;
    text-align: left;
}

.cmodal h3{
    font-size: 20px;
    letter-spacing: 1px;
}

.cmodal p{
    letter-spacing: 1px;
}

.cmodal p>strong{
    font-weight: 700px;
}

.country button{
  background-color: #fff;
  color: #0011ff;
  padding: 8px 30px 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-color: #0011ff;
  cursor: pointer;
  margin-top: 10px;
}



.dbutton button{
    background-color: #fff;
    color: #0011ff;
    padding: 8px 30px 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: #0011ff;
    cursor: pointer;
    margin-left: 450px;
}


.drop{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    top: 4rem;
    padding: 10px 14px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    background: #dcdde9
}

.showDropDown{
    display: none;
}


 /* for countrt Details */

 .countryModal{
    padding: 0px 0px 0px 10px;
    display: grid;
    grid-template-columns: no-repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-left: 30%;
}

.modal{
    min-height: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
}


.leftModal{
    display: flex;
    align-items: center;
    height: 100%; 
    width: 100%;
    padding: 2px;
}


/* .leftModal h1{
    text-align: left;
    margin: 10px 80px 10px;
    letter-spacing: 1px;
    font-size: 40px;
} */


.imgflag{
    width: 50%;
    padding: 5px;
}

.imgflag img{
    width: 250px;
    height: 220px;
    object-fit: cover;
}

.rightModal{
    width: 50%;
    margin-left: 40px;
}

.h2tag{
    margin: 20px 10px 0px;
}

.show{
    display: none;
}


.ncountry .ncmodal{
    outline-color: #B8B8B8;
	outline-style:auto;
	width: 50%;
    margin-left: 30%;
    margin-bottom: 10%;
}

.ncmodal{
    margin-top: 20px;
}

.ncmodal img{
    width: 220px;
    height: 220px;
    margin: 2%;
    
}

.ncmodal h1{
    text-align: left;
    margin: 20px 10px 0px;
    font-size: 25px;
}

.neighbour_img{
    width: 30%;
	height: 30%;
	margin-top: 2%;
	margin-left: 1%;
	margin-right: 1%;
	outline-color: #B8B8B8;
	outline-style:auto;
}



